swagger: '2.0'
info:
  title: EAS API
  version: v1
basePath: /api
consumes:
  - application/json
produces:
  - application/json
paths:
  /raffle/:
    post:
      operationId: raffle_create
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Raffle'
      responses:
        '201':
          description: Raffle successfully created
          schema:
            $ref: '#/definitions/Raffle'
      tags:
        - raffle
    parameters: []
  '/raffle/{id}/':
    get:
      operationId: raffle_read
      parameters: []
      responses:
        '200':
          description: The details of the requested raffle
          schema:
            $ref: '#/definitions/Raffle'
      tags:
        - raffle
    parameters:
      - name: id
        in: path
        required: true
        type: string
  '/raffle/{id}/toss/':
    post:
      operationId: raffle_toss
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/DrawTossPayload'
      responses:
        '201':
          description: A result of the raffle
          schema:
            $ref: '#/definitions/RaffleResult'
      tags:
        - raffle
    parameters:
      - name: id
        in: path
        required: true
        type: string
  '/raffle/{id}/participants/':
    post:
      operationId: raffle_participants_add
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Participant'
      responses:
        '201':
          description: Object created
      tags:
        - raffle
    parameters:
      - name: id
        in: path
        required: true
        type: string
  /random_number/:
    post:
      operationId: random_number_create
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/RandomNumber'
      responses:
        '201':
          description: The RandomNumber draw was successfully created
          schema:
            $ref: '#/definitions/RandomNumber'
      tags:
        - random_number
    parameters: []
  '/random_number/{id}/':
    get:
      operationId: random_number_read
      parameters: []
      responses:
        '200':
          description: The details of the requested draw
          schema:
            $ref: '#/definitions/RandomNumber'
      tags:
        - random_number
    parameters:
      - name: id
        in: path
        required: true
        type: string
  '/random_number/{id}/toss/':
    post:
      operationId: random_number_toss
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/DrawTossPayload'
      responses:
        '201':
          description: A result of the raffle
          schema:
            $ref: '#/definitions/RandomNumberResult'
      tags:
        - random_number
    parameters:
      - name: id
        in: path
        required: true
        type: string
definitions:
  DrawMetadata:
    required:
      - client
      - key
      - value
    type: object
    properties:
      client:
        type: string
        maxLength: 100
        minLength: 1
      key:
        type: string
        maxLength: 100
        minLength: 1
      value:
        type: string
        minLength: 1
  Prize:
    required:
      - name
    type: object
    properties:
      id:
        type: string
        readOnly: true
        minLength: 1
      created_at:
        type: string
        format: date-time
        readOnly: true
      name:
        type: string
        minLength: 1
      url:
        type: string
        format: uri
        maxLength: 200
        minLength: 1
  Participant:
    required:
      - name
    type: object
    properties:
      id:
        type: string
        readOnly: true
        minLength: 1
      created_at:
        type: string
        format: date-time
        readOnly: true
      name:
        type: string
        minLength: 1
      facebook_id:
        type: string
        maxLength: 100
        minLength: 1
  Raffle:
    required:
      - prizes
      - participants
    type: object
    properties:
      id:
        type: string
        readOnly: true
        minLength: 1
      created_at:
        type: string
        format: date-time
        readOnly: true
      updated_at:
        type: string
        format: date-time
        readOnly: true
      title:
        type: string
        minLength: 1
      description:
        type: string
        minLength: 1
      results:
        type: array
        items:
          $ref: '#/definitions/RaffleResult'
        readOnly: true
      metadata:
        type: array
        items:
          $ref: '#/definitions/DrawMetadata'
      private_id:
        type: string
        readOnly: true
        minLength: 1
      prizes:
        type: array
        items:
          $ref: '#/definitions/Prize'
      participants:
        type: array
        items:
          $ref: '#/definitions/Participant'
  DrawTossPayload:
    type: object
    properties:
      schedule_date:
        type: string
        format: date-time
  RandomNumber:
    required:
      - range_min
      - range_max
    type: object
    properties:
      id:
        type: string
        readOnly: true
        minLength: 1
      created_at:
        type: string
        format: date-time
        readOnly: true
      updated_at:
        type: string
        format: date-time
        readOnly: true
      title:
        type: string
        minLength: 1
      description:
        type: string
        minLength: 1
      results:
        type: array
        items:
          $ref: '#/definitions/RandomNumberResult'
        readOnly: true
      metadata:
        type: array
        items:
          $ref: '#/definitions/DrawMetadata'
      private_id:
        type: string
        readOnly: true
        minLength: 1
      range_min:
        type: integer
      range_max:
        type: integer
  RaffleResult:
    type: object
    properties:
      id:
        type: string
        readOnly: true
        minLength: 1
      created_at:
        type: string
        format: date-time
        readOnly: true
      schedule_date:
        type: string
        format: date-time
      value:
        nullable: true
        type: array
        items:
          type: object
          properties:
            participant:
              $ref: '#/definitions/RaffleResultParticipant'
            prize:
              $ref: '#/definitions/RaffleResultPrize'
  RaffleResultParticipant:
    type: object
    properties:
      id:
        type: string
      name:
        type: string
  RaffleResultPrize:
    type: object
    properties:
      id:
        type: string
      name:
        type: string
  RandomNumberResult:
    type: object
    properties:
      id:
        type: string
        readOnly: true
        minLength: 1
      created_at:
        type: string
        format: date-time
        readOnly: true
      schedule_date:
        type: string
        format: date-time
      value:
        type: array
        nullable: true
        items:
          type: integer